.container .background1{
    background-image: url(https://wallpaper.dog/large/20520123.png);
    background-size: 100vw;
    width: 100%;
    height: 57vw;
    display: none;
}
.container .psIntro p{
    position: absolute;
    top: 22vw;
    left: 75%;
    font-size: 3vw;
    color: black;
}
.container .background2{
    background-image: url(https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/00_PlayStation_FAQ_featured_image_Cropped_4_8.jpg);
    background-size: 100vw;
    width: 100%;
    height: 57vw;
    opacity: 0;
}
.container .background2{
    position: relative;
}
.container .background2 .psIntro2{
    position: absolute;
    top: 22vw;
    left: 5%;
    font-size: 3vw;
    text-align: center;
}
