.supportCont{
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
}
.faq{
    background: white;
    width: 60%;
    height: 30vw;
    text-align: center;
}
.query{
    background: white;
    border-top: 1px solid black;
    text-align: center;
    width: 60%;
}
.query h1{
    color: black;
    text-align: center;
}
.query form{
    margin-left: 5vw;
    margin-top: 2.5vw;
    text-align: left;
}
.query form input, h3{
    color: black;
    width: 25vw;
}
.query form textarea{
    width: 38vw;
}
